spring:      
  datasource:
    url: jdbc:mysql://localhost:3306/cardshop_db?createDatabaseIfNotExist=true&serverTimezone=GMT%2B8
    username: ${DB_USERNAME:pm}
    password: ${DB_PASSWORD}
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    hibernate:
      ddl-auto: update
    database: mysql
    show-sql: true 
  mail:
    host: localhost
    port: 1025
    username: ${MAIL_USERNAME}
    password: ${MAIL_PASSWORD}
    properties:
      mail:
        smtp:
          trust: "*"
        auth: true
        starttls:
          enable: true
        connectiontimeout: 5000
        timeout: 3000
        writetimeout: 5000       
  rabbitmq:
    host: localhost
    port: 5672
    username: ${RABBITMQ_USERNAME}
    password: ${RABBITMQ_PASSWORD}
    virtual-host: /                
  mvc:
    hiddenmethod:
      filter:
        enabled: true
server:
  port: 80
  servlet:
    session:
      timeout: 0
    encoding: 
      charset: UTF-8
      force: true
      enabled: true      
  tomcat:
    uri-encoding: UTF-8
    
cardstore:
 path: C:\myproject\testimg\    
application:
 security:
  jwt:
   secret-key: ${JWT_SECRET_KEY}
   expiration: 86400000  
 mailing:
  fronted:
   activation-url: http://localhost:9000/activate-account